<div class="user-input">

  <form class="user-input__form" (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <input id="search" name="search" class="user-input__search" required [appForbiddenWords]="forbiddenWords"
      [(ngModel)]="searchInput" #search="ngModel" placeholder="Search..." autocomplete="off">
    <button type="submit" class="user-input__button" [disabled]="!searchForm.form.valid">Submit</button>
  </form>

  <div *ngIf="search.invalid && (search.dirty || search.touched)" class="user-input__validation">
    <app-notification *ngIf="search.errors.required" [message]="'Enter somehting to search.'"></app-notification>
    <app-notification *ngIf="search.errors.forbiddenWords"
      [message]="'Oh my god! You can\'t say ' + search.errors.forbiddenWords.value"></app-notification>
  </div>

</div>