<div class="user-input">

  <form class="user-input__form" (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <input id="search" name="search" class="user-input__search" required appForbiddenWords="bob"
      [(ngModel)]="searchInput" #search="ngModel" placeholder="Search..." autocomplete="off">
    <button type="submit" class="user-input__button" [disabled]="!searchForm.form.valid">Submit</button>
  </form>

  <div *ngIf="search.invalid && (search.dirty || search.touched)" class="user-input__validation">
    <div *ngIf="search.errors.required">
      Enter somehting to search.
    </div>
    <div *ngIf="search.errors.forbiddenWords">
      Oh my god! No swearing please.
    </div>
  </div>

</div>