<div class="giphy">
  <header class='giphy__header'>
    <app-user-input (search)="handleSearch($event)"></app-user-input>
    <app-notification *ngIf="error" [message]="'Could not load GIFs'"></app-notification>
    <app-pagination [totalCount]="totalCount" [itemsPerPage]="limit" [offset]="offset"
      (pageChange)="handlePageChange($event)">
    </app-pagination>
  </header>
  <div>
    <app-grid *ngIf="gifs$ | async as gifs ; else loading">
      <app-gif *ngFor='let gif of gifs.data' [gif]="gif"></app-gif>
    </app-grid>
    <ng-template #loading>
      Loading gifs...
    </ng-template>
  </div>
</div>